*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1em;
	line-height: 1.5em;
}

html,
body,
div{
	margin: 0;
	padding: 0;
}


h1, h2, h3, h4, h5, h6{
	margin: 0;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
	line-height: 2em;
}

h3{
	font-size: 1.2em;
	line-height: 2.5em;
}

h4{
	font-size: 1em;
	line-height: 3em;
}

h5{
	font-size: 0.8em;
	line-height: 3.75em;
}

h6{
	font-size: 0.625em;
	line-height: 4.8em;
}


p{
	margin: 0 0 1.5em 0;
	padding: 0;
}

blockquote{
	margin: 0 auto 1.5em;
	padding: 0.75em 1.5em;
	width: 80%;
}

sub{
	font-size: 0.6875em;
	vertical-align: bottom;
}

sup{
	font-size: 0.6875em;
	vertical-align: top;
}

small{
	font-size: 0.8125em;
}

ol,
ul,
dl{
	margin: 0 0 1.5em 0;
}

hr{
	margin: -1px 0 1.5em 0;
	border-width: 1px 0 0 0;
	padding: 0;
	height: 0;
}

pre,
kbd,
samp,
tt,
textarea{
	margin: 0;
	font-family: monospace, monospace;
	vertical-align: top;
}